.header {
  background-image: url('../img/post-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__title {
  color: $white;
  text-align: center;
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.header__arrow{
  text-align: center;

}
